@model HTB.DevFx.Data.Entities.IPaginateResult<Octopus.SecurityPermissions.Server.PermissionRole>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "角色列表";
}
<div class="manage-container">
	<div class="tool-box">
		<form id="theForm" method="get">
			<label for="roleNo">角色编号：</label><input class="input-text" type="text" name="roleNo" id="roleNo" value="@ViewBag.RoleNo" />
			<label for="roleTitle">角色名称：</label><input class="input-text" type="text" name="roleTitle" id="roleTitle" value="@ViewBag.RoleTitle" />
			<input class="input-button" type="submit" value="搜索" />
			<input type="hidden" name="startIndex" id="startIndex" value="0" />
		</form>
	</div>
	<div class="list-bottom">
		<div class="batch"><input class="input-button admin_openTab" type="button" value="添加角色" href="/Permissions/RoleEdit" title="添加角色" /></div>
		<div class="page-box" id="topPageContainer"></div>		
	</div>	
	<div class="content-box">
		<table class="manage-list-table" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th>角色编号</th>
					<th>角色名称</th>
					<th>角色描述</th>
					<th>所属应用</th>
					<th>是否有效</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			@foreach(var item in this.Model.Items) {
				<tr>
					<td style="text-align:left"><a href="/Permissions/RoleEdit/@item.RoleNo" title="编辑：@item.Title" class="admin_openTab">@item.RoleNo</a></td>
					<td style="text-align:left">@item.Title</td>
					<td style="text-align:left">@item.Description</td>
					<td style="text-align:left">@item.AppNo</td>
					<td>@item.Enabled</td>
					<td>
						<a href="/Permissions/RoleEdit/@item.RoleNo" title="编辑：@item.Title" class="admin_openTab">编辑</a> |
						<a href="/Permissions/RoleDelete/@item.RoleNo" title="删除：@item.Title" class="permissions_delete">删除</a> |
						<a href="/Permissions/UserRoleList?roleNo=@item.RoleNo" title="查看角色用户：@item.Title" class="admin_openTab">用户</a> |
						<a href="/Permissions/RelationList?targetObject=2&amp;targetValue=@item.RoleNo" title="查看角色授权：@item.Title" class="admin_openTab">授权</a>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
	<div class="list-bottom">
		<div class="batch"><input class="input-button admin_openTab" type="button" value="添加角色" href="/Permissions/RoleEdit" title="添加角色" /></div>
		<div class="page-box" id="bottomPageContainer"></div>		
	</div>	
</div>
@section scripts {
<script type="text/javascript">
	$(function () {
		$(".permissions_delete").click(function () {
			if (confirm("确实要删除吗？")) {
				var $this = $(this);
				$.post($this.attr("href"), function (data) {
					if (data.ResultNo != 0) {
						alert(data.ResultDescription);
					} else {
						window.location.href = window.location.href;
					}
				}).error(function () {
					alert("请求失败！");
				});
			}
			return false;
		});
		$.joy.pager.show({
			itemCount: parseInt("@Model.Count"),
			startIndex: parseInt("@ViewBag.StartIndex"),
			pageSize: parseInt('@ViewBag.PageSize'),
			gotoPage: function (index) {
				$("#startIndex").val(index);
				$("#theForm").submit();
			}
		});
	});
</script>
}